
<section class="product-card">
  <a href="/api/products/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>description: {{description}}</p>
    </div>
  </a>
</section>
