<div class="container">
    <div class="row-1">
        <div class="product-image-1">
        </div>
        <div class="supplier">
            <button id="editSupplierButton" class="button">Edit Supplier Details</button>
            <div class="supplier-edit">       
                <a href="/supplier/{{product.supplier.id}}">Supplier: {{product.supplier.supplier_name}}</a>
                <h5 class="heading-indentation">Email: {{product.supplier.supplier_email}}</h5>
                <h5 class="heading-indentation">Phone: {{product.supplier.supplier_phone}}</h5>
                <h5 class="heading-indentation">Address: {{product.supplier.supplier_address}}</h5>
            </div>
        </div>
    </div>
    <div class="row-2">
        <div>
        <div>
            <div class="main-product-headings">
                <h2>{{product.product_name}}</h2> 
                <h2 class="price">£{{product.price}}</h2>
            </div>
            <div class="main-product-headings">
            <h4 class="heading-indentation">Category:  <a href="/category/{{product.category.id}}"> {{product.category.category_name}} </a> </h4>
            <h4 class="price">Stock Level: {{product.in_hand_stock}}</h4>
            </div>
        </div>
        <div class="decorative-line"></div>
        <div class="product-description">
            {{product.description}}
        </div>
        </div>
        <div class="product-details-btn">
            <button id="editProductButton" class="button">Edit Product Details</button>
            <button id="deleteProductbtn" class="button">Delete Product</button>
        </div>
    </div>
</div>

<div id="supplierModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

    <form id="supplierForm">
      <label for="supplierName">Supplier Name:</label>
      <input type="text" id="supplierName" name="supplierName" value="{{product.supplier.supplier_name}}">

      <label for="supplierEmail">Email:</label>
      <input type="text" id="supplierEmail" name="supplierEmail" value="{{product.supplier.supplier_email}}">

      <label for="supplierPhone">Phone:</label>
      <input type="text" id="supplierPhone" name="supplierPhone" value="{{product.supplier.supplier_phone}}">

      <label for="supplierAddress">Address:</label>
      <input type="text" id="supplierAddress" name="supplierAddress" value="{{product.supplier.supplier_address}}">

      <input type="hidden" id="supplierId" name="supplierName "value={{product.supplier.id}}> 

      <button type="submit">Save</button>
    </form>

  </div>
</div>

<div id="productModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

    <form id="productForm">
      <label for="productName">Product Name:</label>
      <input type="text" id="productName" name="productName" value="{{product.product_name}}">

      <label for="productDescription">Description:</label>
      <input type="text" id="productDescription" name="productDescription" value="{{product.description}}">

      <label for="productPrice">Price:</label>
      <input type="text" id="productPrice" name="productPrice" value="{{product.price}}">

      <label for="inHandStock">In Hand Stock:</label>
      <input type="text" id="inHandStock" name="inHandStock" value="{{product.in_hand_stock}}">

      <input type="hidden" id="categoryId" name="categoryId" value="{{product.category_id}}">
      <input type="hidden" id="supplierId" name="supplierId" value="{{product.supplier_id}}">
      <input type="hidden" id="productId" name="productId" value="{{product.id}}">

      <button type="submit">Save</button>
    </form>

  </div>
</div>